{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    Hi, {{ user.username }}!
    <p><a href="{% url 'logout' %}">Logout</a> | <a href="{% url 'password_reset' %}">Change Password</a></p>
    <p><a href="{% url 'memexicon:memexicon_submission' %}">Submit Meme</a> | <a href="{% url 'memexicon:discovery' %}">Discover Memes</a></p>
{% else %}
    <p>You are not logged in!</p>
    <a href="{% url 'login' %}">Login</a>
    <p><a href="{% url 'signup' %}">Sign Up</a> | <a href="{% url 'password_reset' %}">Reset Password</a></p>
{% endif %}
{% endblock %}